@model IEnumerable<DocsManagement.Models.ServicesDocs>

@{
<<<<<<< HEAD
    ViewData["Title"] = "List";
=======
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
>>>>>>> 2cb8d9d (Добовлен Controllers, Views и подклучин к БД)
}

<h2>List</h2>

<p>
<<<<<<< HEAD
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SignedUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumerSheets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
=======
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSheets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/ServiceDocs/Details/@item.ID" style="text-decoration: none;">
                    @item.RegistrationNomer
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationData)
>>>>>>> 2cb8d9d (Добовлен Controllers, Views и подклучин к БД)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedUser)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.NumerSheets)
=======
                @Html.DisplayFor(modelItem => item.NumberSheets)
>>>>>>> 2cb8d9d (Добовлен Controllers, Views и подклучин к БД)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
<<<<<<< HEAD
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
=======
                @if (User.IsInRole("manager, admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

>>>>>>> 2cb8d9d (Добовлен Controllers, Views и подклучин к БД)
</table>
