<<<<<<< HEAD
﻿@model IEnumerable<AgreementDocs>
@foreach (var serDocs in Model)
{
    <div>
        @serDocs.RegistrationNomer
        @serDocs.RegistrationDate
        @serDocs.TypeDocument
        @serDocs.StateDocument
        @serDocs.CreatedUser
        @serDocs.SignedUser
        @serDocs.NumerSheets
        @serDocs.Summary
        @serDocs.TypeAgreement
        @serDocs.DeadlineAgreement
        @serDocs.Contractor
        @serDocs.Amount
    </div>
}
=======
﻿@using DocsManagement.Models
@model IEnumerable<AgreementDocument>

<h2>Agreement Documents</h2>

<table class="table">
    <tr>
        <th>
            RegistrationNomer
        </th>
        <th>
            RegistrationDate
        </th>
        <th>
            TypeDocument
        </th>
        <th>
            StateDocument
        </th>
        <th>
            TypeAgreement
        </th>
        <th>
            DeadlineAgreement
        </th>
        <th>
            Contractor
        </th>
        <th>
            Amount
        </th>
        <th>
            CreatedUser
        </th>
        <th>
            SignedUser
        </th>
        <th>
            NumerSheets
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="/AgreementDocs/Details/@item.RegistrationNomer">
                @Html.DisplayFor(modelItem => item.RegistrationNomer)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadlineAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSheets)
        </td>
        @if (User.IsInRole("Manager"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistrationNomer }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegistrationNomer })
            </td>
        }

    </tr>
    }

</table>
>>>>>>> 2cb8d9d (Добовлен Controllers, Views и подклучин к БД)
